@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,600);

.container {
    position: relative;
    width: 300px !important;
    margin-left: 10%;
    margin-right: auto;
}

.onoffswitch {
    position: relative; width: 55px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    height: 25px; padding: 0; line-height: 20px;
    border: 1px solid #0C0C0C; border-radius: 20px;
    background-color: #9E9E9E;
    transition: background-color 0.3s ease-in;
}
.onoffswitch-label:before {
    content: "";
    display: block; width: 20px; height: 20px; margin: 0px;
    background: #FFFFFF;
    position: absolute; top: 2px; bottom: 0;
    right: 33px;
    border: 2px solid #FFFFFF; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label {
    background-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label, .onoffswitch-checkbox:checked + .onoffswitch-label:before {
   border-color: #42A5F5;
}
.onoffswitch-checkbox:checked + .onoffswitch-label:before {
    right: 0px; 
}

.row {
    width: 300px !important;
}

html
body {
    font: 1000 12px 'Open Sans', 'Segoe UI', 'Tahoma', sans-serif;
}

body {
    border: 5px solid #42A5F5;
    height: 160px !important;
}

#pwdBox{
    z-index: 15;
    position: absolute;
    top: 30%;
    left: 20%;
}
#pwdBtn{
    z-index: 15;
    position: absolute;
    left:55%;
    top: 30%;

}

#overlay{
    height: 150%;
    width:150%;
    top:-30%;
    left:-30%;
    z-index: 10;
    position: absolute;
    background-color: rgba(10, 10, 10,0.95);
}